<div class="homepagebackground" style="padding-right: 0px; padding-left: 0px;">
  <div class="background" style="background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.1)), url(<%= asset_path('moviepeople.jpg') %>)">

<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Create a movie list and share it</h1>
    <h1>with your friends</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>

<%= link_to new_list_path do %>
  <div class="text-center text-black">

    <i class="btn btn-info">+ Add list</i>
  </div>
<% end %>

  <div class="text-center text-white">
    <br>
    <br>
    <h6>My Lists:</h6>
    <div class="grid-container">
      <% @lists.each do |list| %>
        <%= link_to list_path(list), class: "text-decoration-none" do %>
          <% if list.photo.attached?%>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,28)), url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>')">
            <%= list.name %>
            </div>
          <% else %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('list_background.jpg') %>)">
            <%= list.name %>
            </div>
          <% end %>
        <% end %>

            <%# <%= cl_image_tag @list.photo %>
            <%# <%= link_to "delete", list_path(@list), method: :delete %>
      <% end %>
    </div>

    </div>
  </div>
</div>
</div>
