<h1>newbookmark</h1>

<%= simple_form_for [@list, @bookmark] do |f|%>
  <%# # list for nesting%>
  <%= f.input :comment %>
  <%= f.input :movie_id, collection: @movies %>
  <%= f.submit "submit", class: 'btn btn-primary' %>
<%= end %>
