<h1>newbookmark</h1>
<div class="container">
  <div class="row justify-content">
    <%= simple_form_for [@list, @bookmark] do |f|%>
      <%# # list for nesting%>
      <%= f.input :comment %>
      <%= f.input :movie_id, collection: Movies.all %>
      <%= f.submit "submit", class: 'btn btn-primary' %>
    <%= end %>
  </div>
</div>
