
<div class="navbar navbar-lewagon d-flex justify-content-between">
  <%= link_to root_path do %>
    <%= image_tag "cine.png", alt: "homepageicon", class: "logo rounded-circle" %>
  <% end %>
  <%= link_to root_path do %>
    <h1 class="text-black">MY MOVIE WATCHLIST</h1>
  <% end %>
  <%= link_to root_path do %>
    <%= image_tag "cine.png", alt: "homepageicon", class: "logo rounded-circle" %>
  <% end %>
</div>
